doctype html 
html 
    head 
        title Login
    body
        .heading Admin Login
        form(method = 'post' action = '#' name = 'adminLogin')
            input(type = 'text' placeholder = "Enter your Username" name = "adminUsername")
            input(type = 'password' placeholder = "Enter your Password" name = "adminPassword")
        button Log-In 
        br
        a(href = "#") Forgot Password
        br
        a(href = "./new_admin.html") New Admin? Enter Details Here!