doctype html
html(lang=en)  
  head 
    title Student Login
  body 
    include components/nav.pug
    +navbar
    form(action="/login-handler") 
      input(type="email" name="email")
      input(type="password" name="password")
      input(type="button" value="submit")