doctype html
html(lang=en)  
    head 
        title login 
    body 
        form(action="/login-handler") 
            input#(type="email", name="email")
            input#(type="password", name="password")
            input(type="button", value="submit")