doctype html 
html
    head 
        title NewAdmin 
    body 
        h1 Details of Admin 
        br
        form(method = 'GET', action = './', name = 'adminApplicationForm')
            table 
                tr 
                    td  Name 
                    td
                        input(type = 'text' placeholder = "Name" name = 'adminName')
                tr 
                    td  Designation
                    td 
                        input(type = 'text' placeholder = "Designatiom" name = 'designation')
                tr 
                    td  Email
                    td 
                        input(type = 'email' placeholder = "Email" name = 'email')
                tr 
                    td  Contact Number 
                    td 
                        input(type = 'number' placeholder = "Contact Number" name = 'contactNumber')
                tr
                    td  Password
                    td 
                        input(type = 'password' placeholder = "Enter your Password" name = "studentPassword")
                tr 
                    td(colspan = '2', align = 'center')
                        input(type = 'submit', value = 'Submit')
