doctype html 
html 
    head 
        title Login
    body
        .heading Student Login
        form(method = 'post' action = '#' name = 'studentLogin')
            input(type = 'text' placeholder = "Enter your Username" name = "studentUsername")
            input(type = 'password' placeholder = "Enter your Password" name = "studentPassword")
        button Log-In 
        br
        a(href = "#") Forgot Password
        br
        a(href = "./application_form.html") New User? Apply Now!